[2021-05-06 02:32] klaszlo8207 opened #367 "OCO orders"
Hey all,

Any news on the OCO implementation? I saw 3 or 4 OCO pull requests but all are open now.

When will be this feature available and be merge in the library?

Thanks,
Leslie

[2021-05-06 02:44] klaszlo8207 commented on #365
Does this support OCO order?

I need something like this:

1, add a limit buy order task to <=0.57 usdt
2, listening on that order
3, if that order is executed and ended then I need an OCO sell order with values:

0.55
0.549

Can your fork do this job for me?

[2021-05-06 04:01] KillerInk commented on #365
i merged the future changes from mah454 and added liquidswap, saving etc history.
currently oco is not supported but there is a pull request that seems to work.
my fork gets extended with my needs.
but at current state i only need the historys from all endpoints for my assettracker.

[2021-05-06 04:02] klaszlo8207 commented on #365
Can u merge the OCO codes?

[2021-05-06 06:02] mohamnag commented on #365
@KillerInk maybe a good start is for you to open the issues on your project so that we could move there. also another step would be to get the artifact versioned and published to central. but these could then be done on your repo maybe.

[2021-05-06 06:57] klaszlo8207 commented on #365
Alsi I coundn't find the issues list on that fork

[2021-05-06 08:36] klaszlo8207 commented on #365
+1

[2021-05-06 10:59] Najeisleem commented on #367
https://github.com/anydoby/binance-java-api

this man already pushed his code for OCO you can use it

[2021-05-06 11:45] KillerInk commented on #365
lol no one ask me if i want to maintain it, its expected^^
my repo is also for android! also i have no plans to release packages.
what i can do is to put everything together and merge pull request. but i dont want to be the main dev that have to fixup everything asap.

[2021-05-06 13:37] mohamnag commented on #365
@KillerInk actually lets hope that all those people who submitted a PR here will do the same over there. Its still a lot of work to manage them but it will hopefully be less that maintaining it alone even for your own use cases.

maybe you can make it clear in a kind of statement on readme that its a best effort and as is ;)

[2021-05-07 04:04] KillerInk commented on #359
hm not sure but from the error it seems that you candelsticks close field is long type.
but it should be double.
that problem get caused by the deserializer. on android it seems to fail when the field order do not match or the naming.
you can write your own deserializer.
or apply the json tags to the fields

[2021-05-07 11:21] tonyradz commented on #366
yep, something is wrong with parsing long from value something like this "34.234234" and it is not long, probably some api changes has been made. I would suggest to make all field as Strings

[2021-05-07 15:16] Najeisleem commented on #366
so I must call it directly from finance no throw this library, right?

[2021-05-07 18:07] Najeisleem commented on #366
:D thanks alot man

[2021-05-07 18:13] antanas-radzevicius-tgo commented on #366
No problem 😉

[2021-05-08 05:24] mohamnag commented on #365
So at the end I decided to fork and improve the repo from what @KillerInk had. There were some problems that prevented me to use that one as it was for example using android specific classes and co. Its published to sonatype too: https://github.com/mohamnag/binance-client-java

[2021-05-08 05:28] klaszlo8207 commented on #365
Thanks, I will give it a try

[2021-05-08 17:08] coolmet opened #368 "getClient().getAllAssets()"
The "client.getAllAssets()" method gives me an error like :

Response{protocol=h2, code=404, message=, url=https://www.binance.com/assetWithdraw/getAllAsset.html}

[2021-05-08 18:50] Najeisleem commented on #366
can you please provide me with full example because still not worling

[2021-05-10 18:16] prime-zone opened #369 "Trying to test connectivity per example in GeneralEndpointsExampleAsync.java gives me an error"
When I add

`client.ping(response -> System.out.println("Ping succeeded."));`

to my code as per line 22 in GeneralEndpointsExampleAsync.java my IDE tells me:
"'ping()' in 'com.binance.api.client.BinanceApiRestClient' cannot be applied to '(<lambda expression>)'"

Trying to figure out where my API issues are coming from and that seems like a good place to start

[2021-05-10 19:17] prime-zone commented on #326
@georgesoler when I try your code with:

BinanceApiClientFactory factory = BinanceApiClientFactory.newInstance("api key", "prviate key", true, true);

It gives me an error:

java.lang.ExceptionInInitializerError
Caused by: java.lang.IllegalArgumentException: Illegal URL: wss://testnet.binance.vision
	at retrofit2.Retrofit$Builder.baseUrl(Retrofit.java:456)
	at com.binance.api.client.impl.BinanceAp

[2021-05-10 19:17] #369 closed, assigned to nobody

[2021-05-14 13:54] hamidrezaabroshan opened #370 "Can I use spot testnet api with this library?"
How can I use testnet api with this library? and is it possible to change uri of requests?

[2021-05-15 13:50] lukasged commented on #177
Thanks for this reply, quite some time passed, but it still helped me 😅

It seems like this is still not documented, so not so easy to find out

[2021-05-16 14:51] Numen-fan opened #371 "Could not find artifact com.binance.api:binance-api-client:pom:1.0.0"
as the title

[2021-05-17 00:22] hp8wvvvgnj6asjm7 commented on #112
lol how come nobody understood the question?

[2021-05-17 00:56] LexProfi opened #372 "Balances are not updated"
Good day! Prompt - I use the following code in the program:
[code]
Then I run the following code at regular intervals:
[code]

After a while, the balance data stops updating. When executing the code, no error occurs, just the values are old. For example, an order was made for the BTC, but these BTC still remain on the balance sheet. What could be the reason for this behavior?

[2021-05-18 07:34] #372 closed

[2021-05-18 12:33] tomastoth commented on #371
You need to download the library and use `mvn install` in the root directory of the source

[2021-05-20 11:25] bavodaniels opened #373 "Websocket - EOFException"
I'm have the following code

`wsClient.onAllBookTickersEvent(new BinanceApiCallback<BookTickerEvent>() {
            @Override
            public void onResponse(BookTickerEvent bookTickerEvent) {
                System.out.println(bookTickerEvent.getSymbol());
            }

            @Override
            public void onFailure(Throwable cause) {
                System.out.println("Websocket er

[2021-05-21 21:55] Calin-Cosma opened #374 "Trying to withdraw results in -4007=Address verification failed"
I have enabled withdrawals (by restring IPs).
I tested the withdraw manually from my account to the same address and it worked.
I have the funds in my account.

[code]

The client works, I have tested it with other operations, so the key and secret are correctly set.

I am stuck and I can't find anything on Google.

[2021-05-24 16:44] georgesoler commented on #326
Hi Mina,
I cannot reproduce the error you report.
I uploaded the driver I use to test the testnet code changes (see below).
The driver includes a call to
 BinanceApiClientFactory.newInstance(apiKey, secret, true, true)
If you haven't resolved the issue, please test by modifying the driver to suit your needs and let me know if you still get the error.
Thank you.
[BinanceSpotTestnetDriverTest.java.t

[2021-05-27 16:40] hamidrezaabroshan opened #375 "could not connect to websockert api: (even tested with library examples) java.net.ConnectException: Failed to connect to stream.binance.com/88.198.36.214:9443"
java.net.ConnectException: Failed to connect to stream.binance.com/88.198.36.214:9443
	at okhttp3.internal.connection.RealConnection.connectSocket(RealConnection.java:242)
	at okhttp3.internal.connection.RealConnection.connect(RealConnection.java:160)
	at okhttp3.internal.connection.StreamAllocation.findConnection(StreamAllocation.java:257)
	at okhttp3.internal.connection.StreamAllocation.findHeal

[2021-05-29 19:56] carlspring commented on #3
Any updates on making this available from Maven Central?

[2021-05-30 12:19] PanderBoy18 commented on #355
I have the same problem. I changed my code in the updateEvent to:
[code]

But I still have the same problem. What code do I need to change to get this working or is this issue not fixed yet?

[2021-06-01 07:38] PanderBoy18 commented on #309
My problem still isn't solved with the code above. I also added the `keeAlive` on the `listenKey`, but that didn't solve the problem either. After some time the events just don't get called anymore while there are changes happening. How can I fix this?

[2021-06-04 05:54] aibar commented on #370
+1

[2021-06-05 22:52] weichafe commented on #107
I have the same problem, someone knows how to solve it

[2021-06-06 04:27] kaushik1979 opened #376 "Binance aggTrade for multiple streams is not working"
Hi,

I have an issue with the binance aggTrade api for future data. As per the api doc, when I create a streaming link and open a websocket with it, no data comes back.

streamingUrl -
```wss://fstream.binance.com/ws/stream?streams=btcusdt@aggTrade/ethusdt@aggTrade/bnbusdt@aggTrade```

However, the link for single future contract works like a charm.

streamingUrl -
```wss://fstream.binance.com/ws/

[2021-06-06 16:26] adkr commented on #3
Shame... Almost 4 years and this issue is still opened.
That's really bad from technical, public relations and brand perspective.

[2021-06-06 21:08] Najeisleem opened #377 "Cancel sell order"
i got error when trying to cancel sell order :

com.binance.api.client.exception.BinanceApiException: Unknown order list sent.
client.cancelOrder(new CancelOrderRequest("BTCUSDT", order.getOrderListId()));

i tryed order.getOrderListId() and order.getOrderId() and order.getClientOrderId

[2021-06-10 03:43] georgesoler commented on #370
I forked this project precisely to allow connections to endpoint testnet.binance.vision
There are options for both websocket streaming and non-streaming clients.
https://github.com/georgesoler/binance-java-api
Created a pull request.

[2021-06-10 09:56] adkr commented on #371
You can also use jitpack: https://jitpack.io/#binance-exchange/binance-java-api

[2021-06-10 10:22] adkr commented on #365
Hey guys... Two things...
1. How do you deal with REST limits? As I can see currently all headers are ignored on okHttp client level and only mapped body to type is returned. Binance send in headers info about utilized limits. I started custom limiter implementation but its wrong way. I was thinking to fork somewhere and add a wrapper type which would keep rawResponse and mapped type till the plac

[2021-06-10 10:39] #365 closed

[2021-06-10 11:19] adkr commented on #365
@joaopsilva Why did u close that issue?

[2021-06-10 16:56] AndreJuntermanns commented on #370
Really useful, if it would be documented, on wich object is the new setter ?

[2021-06-10 17:13] georgesoler commented on #370
The way to use this feature is to call one of the two overloaded  static constructors for either non-auth or authenticated clients:

BinanceApiClientFactory.newInstance​(boolean useTestnet, boolean useTestnetStreaming)
or
BinanceApiClientFactory.newInstance​(java.lang.String apiKey, java.lang.String secret, boolean useTestnet, boolean useTestnetStreaming)

Parameters are documented in the javadoc.

[2021-06-10 17:20] AndreJuntermanns commented on #370
You committed a essential feature for development. This function is
important....also right on time.
Thank you.

George Soler ***@***.***> schrieb am Do. 10. Juni 2021 um
19:13:

[2021-06-10 18:30] georgesoler commented on #326
The pull request for this feature has just been merged into master branch binance-exchange/binance-java-api. Please get it from there insted of forking off my branch because I may delete my branch in the future.

[2021-06-10 22:48] #377 closed

[2021-06-11 08:13] gouravgarg opened #378 "Unable to get isolated margin trades"
**ASK**: Unable to get ISOLATED Margin Trades

Spot account access working as expected

**Class** Name: BinanceApiService

Using:
@GET("/sapi/v1/margin/isolated/account") (Amended this)
Call getMarginAccount(@Query(“recvWindow”) Long recvWindow, @Query(“timestamp”) Long timestamp);
Error: User does not exist

OR
@GET("/sapi/v1/margin/account")
Call getMarginAccount(@Query(“recvWindow”) Long recvWi

[2021-06-19 11:15] jnorthrup opened #379 "testnet streaming fails"
this is kotlin on jvm.
[code]
------

this is the output
[code]
F.A.Q.
How can I use the Spot Test Network?
Step 1: Log in on this website, and generate an API Key.

Step 2: Follow the official documentation of the Spot API, replacing the URLs of the endpoints with the following values:

Spot API URL	Spot Test Network URL
https://api.binance.com/api	https://testnet.binance.vision/api
wss://stream.

[2021-06-19 12:58] joaopsilva commented on #379
Fixed.

[2021-06-19 12:58] #379 closed

[2021-06-19 21:23] omeronce1994 commented on #359
You can do the following steps which worked for me (written in Kotlin):
You can use this custom deserializer:

`
class CandleSticksConverter: Converter<ResponseBody, List<Candlestick>> {

    private val TAG = "CandleSticksConverter"

    override fun convert(value: ResponseBody): List<Candlestick> {
        val result = mutableListOf<Candlestick>()
        val text = value.string()
        val ar

[2021-06-21 20:46] kincsescsaba opened #382 "ClassNotFoundException - MessageLite"
Hi,
After fetching the sources, building the library with `mvn install`, and copying the jar under `/lib` in my project, I get the following error:
`java.lang.ClassNotFoundException: com.google.protobuf.MessageLite`

It looks like there is a problem with ProtoBuf, and I can't find a straightforward way to add that dependency; it's confusing which way to do that, what version to use, etc.

Can you

[2021-06-24 11:51] LexProfi opened #383 "Change in api callers InvalidFormatException"
Recently, I began to receive an error.

[code]

Previously, the code worked fine, what has changed in the binance api?

[2021-06-24 12:43] mcourteaux commented on #383
[code]

[2021-06-24 12:51] LexProfi commented on #383
Clarify - where were these changes made? Are they not in the current repository?

``git pull
remote: Enumerating objects: 172, done.
remote: Counting objects: 100% (167/167), done.
remote: Compressing objects: 100% (75/75), done.
remote: Total 172 (delta 51), reused 113 (delta 30), pack-reused 5
Receiving objects: 100% (172/172), 41.64 KiB | 5.95 MiB/s, done.
Resolving deltas: 100% (54/54), comple

[2021-06-24 13:47] mcourteaux commented on #383
I'm not sure what you are asking: it's indicated in the git diff:

+++ b/src/main/java/com/binance/api/client/domain/general/RateLimitType.java

which is indeed in this repository. Don't forget to run `mvn install` after applying these changes.

[2021-06-24 15:37] joaopsilva commented on #383
Thanks for clarifying @mcourteaux , closing this one.

[2021-06-24 15:37] #383 closed

[2021-06-24 16:29] Charles26 opened #385 "Updated JAR file"
Hi, is it possible to get an updated .jar of your API?
I've been looking for it everywhere but couldn't find it.
Thanks a lot!

[2021-06-24 17:34] #355 closed

[2021-06-24 19:37] Serg-Maximchuk commented on #385
Hi, I have fixed this and published [my fork](https://github.com/Serg-Maximchuk/binance-java-api) to the [maven central](https://mvnrepository.com/artifact/io.github.serg-maximchuk/binance-api-client), new version is 1.0.3

[2021-06-24 19:51] Charles26 commented on #385
Thanks Serg-Maximchuk for your fast reply. I've checked and version 1.0.3 is not available yet. It's only showing: 1.0.1 and 1.0.2 versions.

[2021-06-24 19:53] #385 closed

[2021-06-24 20:38] gu1llermo opened #387 "String "RAW_REQUESTS": value not one of declared Enum instance names: [REQUEST_WEIGHT, ORDERS]"
Hello today when i try to do
ExchangeInfo info = client.getExchangeInfo ();

I got the following error message

Exception in thread "main" com.binance.api.client.exception.BinanceApiException: com.fasterxml.jackson.databind.exc.InvalidFormatException: Cannot deserialize value of type `com.binance.api.client.domain.general.RateLimitType` from String "RAW_REQUESTS": value not one of declared Enum in

[2021-06-25 03:25] cs-manar commented on #387
Same here!!!!

[2021-06-25 05:34] Serg-Maximchuk commented on #387
Hi all, I have fixed last crash with missing enum value and published [my fork](https://github.com/Serg-Maximchuk/binance-java-api) to the [maven central](https://mvnrepository.com/artifact/io.github.serg-maximchuk/binance-api-client), latest version is 1.0.4

[2021-06-25 10:49] gu1llermo commented on #387
Thanks, what I did was add the value "RAW_REQUESTS" in the ENUM instance com.binance.api.client.domain.general.ExchangeInfo ["rateLimits"] and then Clean and Rebuild, and that's it.
Thanks anyway

[2021-06-25 10:52] joaopsilva commented on #387
This is fixed in the latest version, just update your repository with `git pull`.

[2021-06-25 10:52] #387 closed

[2021-06-25 16:03] cs-manar commented on #387
Thanks all. It is fixed!

[2021-06-26 14:49] Emperorlou commented on #164
I'm also getting this error. @swapnil-pandey Did YOU figure it out? lol

[2021-07-01 05:45] #373 closed

[2021-07-21 13:21] peyerroger opened #389 "Improve Configuration Possibilities for testing"
I'd like to be able to use the Binance API and a Mocked Binance API in the same JVM for testing purposes. Since the Configuration is currently done via a static class, it is not possible to do so. I'd like to introduce a non static configuration class which can be provided to the factory.

@joaopsilva I'd like to solve this issue myself, but would like to discuss it with you shortly to prevent any

[2021-07-21 14:09] mads2 commented on #302
Just
1. Clone this repo
2. `mvn install`
3. `mv target/binance-api-client-1.0.1.jar {your-project-directory}`
4. add this to you pom.
[code]

[2021-07-21 15:29] mayhem7 opened #390 "Switch to Java from Python?"
Hi there, i'm currently using the Python library to make Binance API bots, this was before i found THIS library, i'm more a POO developer (Java was my first love) but i had to learn Python for that reason, the question is simple, should i change to this library to work with Java or Python has better excuses to keep working with them like... fastes / better performance?...

Thanks!

[2021-07-23 07:23] LiQingMuBai opened #391 "withdraw problem"
` WithdrawResult withdraw(String asset, String address, String amount, String name, String addressTag);
`

- how to switch network like ethereum tron bsc network
- nothing happen when i withdraw usdt token

[2021-07-23 08:11] coininn-exchange opened #392 "A question onDepthEvent"
**Hello sir:
     I wnat to know onDepthEvent push data is full data or incremental data?**

`client.onDepthEvent("ethbtc,ethusdt", (DepthEvent response) -> {
  if (Objects.equals(response.getSymbol(),"ethbtc")) {
      // handle ethbtc event
  } else if(Objects.equals(response.getSymbol()),"ethusdt")) {
      // handle ethusdt event
  }
});`

[2021-07-23 08:50] coininn-exchange commented on #392
`2021-07-23 16:48:40 [INFO] - BTCUSDT, [OrderBookEntry[price=32438.97000000,qty=0.23663600], OrderBookEntry[price=32440.68000000,qty=0.00000000], OrderBookEntry[price=32441.02000000,qty=0.00000000], OrderBookEntry[price=32441.71000000,qty=0.00000000], OrderBookEntry[price=32443.02000000,qty=0.04000000], OrderBookEntry[price=32445.81000000,qty=0.27000000], OrderBookEntry[price=32446.00000000,qty=0.

[2021-07-24 14:31] hurek opened #393 "Webflux/Reactor usage"
Hello! Is this API compatible with Reactor/Webflux, or do I need to implement the client myself to work with reactive patterns? Thanks

[2021-08-02 14:30] mcmushroom opened #394 "Live subscription not live, update once every second only?"
Hi there,

I use the following code to get live subscription to tickers using the API.

ProductSubscription subscription = ProductSubscription.create().addTicker(CurrencyPair.ETH_BTC).build();
exchangeStream.connect(subscription).blockingAwait();
exchangeStream.enableLiveSubscription();
Disposable tickers = exchangeStream.getStreamingMarketDataService().getTicker(CurrencyPair.ETH_BTC).subscribe(ti

[2021-08-11 05:25] elkceo commented on #135
Is that possible now?

[2021-08-12 13:08] yanghua0311 opened #395 "/api/v1/depth upgraded"
Why is it not upgraded to v3？pls

[2021-08-29 02:56] Queatz commented on #368
I am getting this error also

[2021-08-29 02:57] Queatz commented on #368
Looks like these are open duplicates #266 #350

[2021-08-29 10:45] ts-00 opened #398 "GET api/v3/myTrades has a new optional field orderId"
According to actual Binance API:

[code]

Please provide the `orderId` as an optional request property when calling "myTrades".

[2021-09-03 03:56] AxelRocha commented on #88
I don't know if thats what happend to those guys but i ran into the same problem and its was just a rookie mistake lol

I had created an enum class to hold my keys and then when I was instantiating the client I was doing
`Credentials.API_KEY.toString()`

But I didn't had override toString method...
I doubt that was the problem to them, but I hope its helps some noob dev like me haha

[2021-09-20 07:18] stylepatrick opened #399 "Locked Staking amount not returned"
Hello,

if i use the account.getBalances() methode it doesnt show me the locked amount.
For the locked attribute it returns 0.0 even if i have locked stacking amounts.

`Account account = client.getAccount();
System.out.println(account.getBalances());
`

Does anyone else have the same issue?

[2021-09-20 11:19] stylepatrick commented on #399
Thanks for the answer.

Would make sense but there must be an Endpoint to call the locked stacking amount too.

[2021-09-20 17:50] stylepatrick commented on #399
Found this article:

https://dev.binance.vision/t/earn-locked-staking/1453

Doesnt look like that Binance API supports the locked staking and no plans to implement at the moment.

[2021-09-21 08:14] jimmyheller commented on #339
Hi,
I have created a [PR](https://github.com/binance-exchange/binance-java-api/pull/400) so this will be fixed if that PR is merged.

[2021-10-03 18:09] #399 closed

[2021-10-04 11:02] jbaron commented on #231
Here also facing same issue. A  slightly larger stack-trace:

[code]

The code I execute is just to get the available symbols via the getExchangeInfo on a standard RestClient

[2021-10-06 01:05] CaymanTurtleBeach opened #401 "Problems and Discrepancies with Java SPOT and FUTURES libraries"
I have worked (and worked around shortcomings) with Java FUTURES and SPOT libraries for a couple of months, and there are fundamental capabilities that are missing or inconsistently implemented. Here are a few that I consider 'Major' that prevent using the Java libraries in their current form for serious development.
1) neither library cleanly exposes HTTP response headers, so it is 'out-of-the-bo

[2021-10-06 01:18] CaymanTurtleBeach commented on #390
For what it's worth, I think this Java library is a step in the right direction, but not ready for prime time (see my comments above). On the Binance telegram channel today (October 5 2021) Jeremy (I think from Binance) indicated that a Java library update is forthcoming (though I confess I am a little nervous that he referred to it as a connector, which may or may not be as robust as I or other J

[2021-10-13 02:50] darrenmills commented on #334
I'm getting similar results in the NewOrderResponse after performing a market buy.

NewOrder order = new NewOrder(ticker, OrderSide.BUY, OrderType.MARKET, null, String.valueOf(quantity));
NewOrderResponse response = client.newOrder(order);
response.getPrice(); //always returns "0.00000000"

Any updates on this issue?

[2021-11-01 01:23] xXSkyWalkerXx1 commented on #102
Still the same... xD

[2021-11-01 01:31] xXSkyWalkerXx1 commented on #37
The issue still exists.

[2021-11-01 17:18] xXSkyWalkerXx1 commented on #221
I still have this issue. :D

[2021-11-01 17:59] Angus-Less commented on #322
Thanks for actually providing a response and not just claiming you fixed it. There are some ambiguities about how Binance states its order system. Had to learn it the hard way that you have to specify the quantity of the asset, not just the flat USDT you'd like to buy. Would be nicer if they reverted it to the USDT equivalent (or provided another method of making orders this way).

[2021-11-07 01:12] antlen opened #402 "Secret key should be stored as a byte[]"
https://docs.oracle.com/javase/8/docs/technotes/guides/security/crypto/CryptoSpec.html#PBEEx

However, here's the caveat: Objects of type String are immutable, i.e., there are no methods defined that allow you to change (overwrite) or zero out the contents of a String after usage. This feature makes String objects unsuitable for storing security sensitive information such as user passwords.

[2021-11-09 21:51] VjekoslavKrainovic commented on #7
What is fix? I also have same problem.

[2021-11-10 05:47] jonnyquy commented on #25
Your problem will be solved.

 public long TimeZone() {
        try {
            String TIME_SERVER = "time.windows.com";
            NTPUDPClient timeClient = new NTPUDPClient();
            InetAddress inetAddress = InetAddress.getByName(TIME_SERVER);
            TimeInfo timeInfo = timeClient.getTime(inetAddress);
            long returnTime = timeInfo.getMessage().getTransmitTimeStamp().getTi

[2021-11-13 13:23] mkaan96 opened #405 "Get withdrawal fee"
I can't find an API to get withdrawal fees for a coin. Is it implemented?

[2021-11-13 21:16] VjekoslavKrainovic opened #406 "Testnet UserData WS is not sending any updates"
I am using testnet env and when i make order/trader i dont get any updates by UserData ws

[2021-11-26 05:33] antlen commented on #402
There is no real need to store a secret key as a String as Binance just needs the byte[] to create the SecretKeySpec. Added to this, a lot of developers will store their private key in a java keystore and when the key is loaded from the keystore it will be in a byte[]. So the the ideal scenario is to load the key as byte[] from the keystore and pass to binance to create the SecretKeySpec from the

[2021-11-28 00:25] ndrb commented on #322
@Angus-Less  Yeah it would be a lot clearer with different methods with descriptive names that way the people using the API have options to chose from. I also learned it the hard way by hitting the API and reading the output in my order history.
Their test-net also has some differing functionality which I found really hard, it was a while ago so I can't recall but certain tests where failing on te

[2021-11-30 04:42] cheeringsoul commented on #373
i have the same question, how did you solved it ?

[2021-12-02 21:48] YagizYigit opened #407 "Hi binance apı help"
I managed to install a large part of the Binance api library in my android studio project. but i am having problem with some classes in impl folder. can you help me?

img

 [www.serdaryigit.com/1.png](www.serdaryigit.com/1.png)
[www.serdaryigit.com/2.png](www.serdaryigit.com/2.png)
[www.serdaryigit.com/3.png](www.serdaryigit.com/3.png)

[2021-12-03 23:59] thedarthonian commented on #231
Hitting the same issue, any update on this?

[2022-01-03 11:28] geet-softvaacs opened #408 "Getting exception while fetching account details"
java.lang.NoSuchMethodError: No static method encodeHexString([B)Ljava/lang/String; in class Lorg/apache/commons/codec/binary/Hex; or its super classes (declaration of 'org.apache.commons.codec.binary.Hex' appears in /system/framework/org.apache.http.legacy.boot.jar)

I am getting above exception.

[2022-01-05 05:39] antlen opened #409 "API should allow integration with ExecutorService to allow better control of client threading"
When you make an asynchronous call there is no control of how many threads are used for the requests and responses.  Particularly when responses are processed the client needs to ensure data integrity, this could be done using synchronization but its better achieved using intelligent threading and dispatching.  This is even more important when connecting to more than one exchange and you need to e

[2022-01-05 05:48] antlen commented on #409
Also available here as a bolt on library until (unless) this is merged into master :
https://github.com/antlen/binance-java-api-extensions

[2022-01-11 10:34] infinic commented on #3
+1

[2022-01-16 14:09] naserkaka opened #411 "Using multi thread to stream OneSymbol in each thread or using one thread to stream many symbols"
Hi , I just need some tips about best practice. I would like to
1. stream many different symbols with socket
2. create a task in the socket that checks if marketprice = myTargetPrice -> send Order to Binance else end task

Which approach is recommended?
Approach 1. Using Multi-thread , each thread for streaming each Symbol and rest of the logic
Approach 2. Using One single thread that streams all

[2022-01-23 14:17] naserkaka commented on #326
its not possible to edit the file, how do I proceed with this ?

[2022-01-23 14:21] naserkaka commented on #406
@VjekoslavKrainovic how do I use testnet ? Should I use real credentials or create fake ones in https://testnet.binance.vision/key/generate ?

[2022-01-23 15:05] aymens opened #412 "No trading fees when on tesent"
I'm using the trading fees from wallet API in my program.

At some time I'll need to test my program on testnet before going on prod with real money.

But, as the trade fees wallet endpoint returns an empty response on testnet (realized that with postman), my program won't run correctly.

Is there a solution to this problem, other than mocking the call to fees endpoint myself?

Thanks

[2022-01-24 23:18] thedarthonian opened #413 "InvalidFormatException when using getQuotePrecision"
stacktrace: `com.fasterxml.jackson.databind.exc.InvalidFormatException: Cannot deserialize value of type `com.binance.api.client.domain.general.RateLimitType` from String "RAW_REQUESTS": not one of the values accepted for Enum class: [REQUEST_WEIGHT, ORDERS]
 at [Source: (okhttp3.ResponseBody$BomAwareReader); line: 1, column: 311] (through reference chain: com.binance.api.client.domain.general.Exc

[2022-01-27 10:25] Coalado opened #414 "Deprecated API Endpoints"
When calling e.g. com.binance.api.client.impl.BinanceApiRestClientImpl.getDepositHistory(String)
I get an error:

`This endpoint has been deprecated, please integrate with â€œGET@/sapi/v1/capital/deposit/hisrecâ€. See details in the announcement: https://www.binance.com/en/support/announcement/f45dde7da58b473aa885349946bed269`

[2022-01-27 13:00] JamesDee13 opened #415 "Binance API suddenly stops working"
Hi all,
I'm using BinanceAPIWebSocketClient for streaming candlestick data and it is working just fine. But since couple of hours ago, it is suddently not working anymore as it won't print new candlestick data and taking very long time to run to the end of the code without any errors, the console won't found any errors at all, it is just stopped working. Anyone knows what's happening ?
ps: I tried

[2022-01-27 20:18] frostrock7 opened #416 "Can I use Ipv6 for my API key ?"
Hello
Does Binance support Ipv6 for key ?

[2022-01-28 10:14] luckuny commented on #415
client.onAggTradeEvent(symbol.toLowerCase(), new BinanceApiCallback<AggTradeEvent>() {
    @Override
    public void onResponse(final AggTradeEvent response) {
        System.out.println(response);
    }

    @Override
    public void onFailure(final Throwable cause) {          // **it will fine your bug**
        System.err.println("Web socket failed");
        cause.printStackTrace(System.err);

[2022-02-06 09:26] marinkobabic opened #417 "Average price absent"
please can you provide https://binance-docs.github.io/apidocs/spot/en/#current-average-price

[2022-02-13 11:17] mohamedchennouf opened #418 "Timestamp for this request was 1000ms ahead of the server's time."
I just tried to run a simple function inside the readme but i got this error :  Timestamp for this request was 1000ms ahead of the server's time.   For exemple :

TickerStatistics tickerStatistics = client.get24HrPriceStatistics("DOGE");
System.out.println(tickerStatistics.getLastPrice());

or

List<Order> openOrders = client.getOpenOrders(new OrderRequest("DOGE"));
System.out.println(openOrders);

[2022-02-13 11:23] #418 closed

[2022-02-13 11:24] mohamedchennouf commented on #418
My bad, i call the services inside a synchronious thread

[2022-02-16 08:02] JamesDee13 opened #419 "issue getting mixed candlestick"
I'm calling onCandlestickEvent for streaming and getting mixed candlestick data, it returns about 10 candlesticks right data then on next minute it suppose to be new candlestick data but it still print out mixing with previous data even the data running for 5 mins it is still print out the first candlestick data mixing with data from minute 2,3,4 turning out it is totally a mess. Anyway for fixing

[2022-02-16 08:04] JamesDee13 commented on #415
I would check on your suggestion. thanks

[2022-02-17 04:29] #419 closed

[2022-03-13 12:34] naserkaka commented on #370
Hi, its still not possible to use testnet. This is the BinanceApiClientFactory class , there is no function that recieves two boolean values

import com.binance.api.client.impl.BinanceApiWebSocketClientImpl;

public class BinanceApiClientFactory {
    private String apiKey;
    private String secret;

    private BinanceApiClientFactory(String apiKey, String secret) {
        this.apiKey = apiKey;

[2022-03-13 15:38] kwladyka commented on #3
Any rationale why the library is not in mvn?

[2022-03-13 19:54] carlspring commented on #3
@kwladyka ,

Yes, the rationale is perfectly clear -- this project has been dead for a long while.

[2022-03-13 19:57] kwladyka commented on #3
The project lucks of "deprecated" word in readme.md or should be archived in github. It is not obvious in first steps with Binance API.

[2022-03-13 20:56] carlspring commented on #3
@kwladyka : If you check the commit history, you'll see that there has been no real activity on the project since it won the bounty for a Java implementation of a library for Binance. I don't think that the original author cares about further developing this. You can easily arrive to the same conclusion, if you have a look at the number of pull requests which have been made by various contributors

[2022-03-13 20:58] kwladyka commented on #3
I know. Just I am saying it is not friendly approach for developers :)

[2022-03-13 21:11] carlspring commented on #3
@kwladyka : I agree, :)

[2022-03-14 21:23] OliverMaas opened #420 "NewOCO execution failed"
Hi, tried to execute java code with BinanceApiRestClient:
[code]

Error message:
[code]

I don't understand why I can execute a OCO SELL for XRPUSDT in the android-binance-app, but not with that java code.

[2022-03-15 07:06] OliverMaas commented on #420
How to solve:
Open java class NewOCO and change constructor
**from:**
[code]

**to**
[code]

Now it works :-) <*Party smiley*.>

[2022-03-15 07:06] #420 closed

[2022-03-15 12:18] joaopsilva commented on #3
Hi @kwladyka , @carlspring , I did try to have the project on Maven right from the start, but since the `groupId` was set to `com.binance.api`, it needed the approval from someone at Binance (i.e. an email sent from "@binance.com"), and even though I requested it, the email was never sent. So moving forward the `groupId` would need to be renamed, or we would need to press Binance again.

Another i

[2022-03-15 12:24] joaopsilva opened #421 "🚨 Looking for maintainers"
Dear All,

This project started out as part of a coding competition in 2017, and since then, Binance has grown to be the leading crypto exchange in the world, regularly introducing a plethora of new features and innovations to their exchange and API.

In order to keep up with all the latest features, to try to incorporate them in this library, and given my very limited availability to work on this

[2022-03-16 15:42] joaopsilva commented on #420
Could you please submit a PR with the change @OliverMaas ? Thanks.

[2022-03-27 19:52] cezary-ptaszek commented on #421
Dear João, I'm sitting around a bit with this code at the moment, so I guess I could help. If you would like more information, I present linkedin: www.linkedin.com/in/cezary-p-2532121b2

[2022-04-01 17:56] bschnider commented on #408
I am getting the same error. Did you find a solution ?

[2022-04-04 07:44] Alihasnat10 commented on #112
Did anyone find the answer to this query? Binance web socket connection is only valid for 24 hours. Is there any way to reconnect after 24 hours?

[2022-04-07 11:19] TheLeBot opened #424 "TRAILING_DELTA missing in FilterType"
Since today 07.04.2022 the API for getting ExchangeInfo produces an exception because Binance added a new FilterType "TRAILING_DELTA" which is not a part of the enum FilterType in current Java-API.
The only way to fix it is to extend FilterType with this value.

[2022-04-07 14:01] mehc77 commented on #424
It doesn't work adding only that value in the enum..

[2022-04-07 21:27] mehc77 commented on #424
@TheLeBot i have tried to update the enum in my api and getFilterType keeps giving an error, so I had to skip the search for lot_size to keep it working.
I'll look into why just adding in the enum doesn't work, I also thought that would suffice..

[2022-04-13 14:59] selamiwork commented on #424
Only added TRAILING_DELTA to the enum and then it worked for me. Like the following ;

public enum FilterType {
  // Symbol
  PRICE_FILTER,
  LOT_SIZE,
  MIN_NOTIONAL,
  MAX_NUM_ORDERS,
  MAX_ALGO_ORDERS,
  MAX_NUM_ALGO_ORDERS,
  ICEBERG_PARTS,
  PERCENT_PRICE,
  MARKET_LOT_SIZE,
  MAX_NUM_ICEBERG_ORDERS,
  MAX_POSITION,
  TRAILING_DELTA,

  // Exchange
  EXCHANGE_MAX_NUM_ORDERS,
  EXCHANGE_MAX_AL

[2022-04-14 14:42] GitDani3l commented on #424
Thank you so much!

[2022-04-15 00:26] meliksah commented on #424
https://github.com/binance-exchange/binance-java-api/pull/425

[2022-04-29 18:49] jorinator commented on #112
Can this issue be reopened? It seems like there still isn't a solution after 4 years.

[2022-04-29 18:52] Alihasnat10 commented on #112
I solved this issue by setting a counter that counted the time of opening the socket. I close the socket at the 23rd hour and restart it. It is working perfectly fine.

[2022-05-06 19:00] Tiana345 commented on #421
Are you still looking for mainteners?

[2022-05-19 07:40] umeshy opened #427 "Not a margin account"
I'm getting error in below statement, please suggest reason for the error:
[code]

Error: com.binance.api.client.exception.BinanceApiException: Not a margin account.

[2022-05-19 19:03] thomasneuteboom opened #428 "Gradle: Could not find com.github.binance-exchange:binance-java-api:master-SNAPSHOT."
As of today I can't download `binance-java-api` via Jitpack and Gradle.

[code]

build.gradle.kts:
[code]

Any solution for this?

Thanks in advance.

[2022-05-21 13:41] cezary-ptaszek commented on #428
The reason why it doesn't work is because the jar file is not on the `https://repository.mulesoft.org` repository referenced by this link. If you want to use this project, it's best to download and build the package with the `mvn install` command, if you don't want to do it, here is upload jar https://easyupload.io/963fvi Then just import the jar as libs in your project.

[2022-05-21 13:51] cezary-ptaszek commented on #428
Try this:
`...
allprojects {
    repositories {
        maven { url 'https://jitpack.io' }
    }
}
...
dependencies {
    implementation 'com.github.binance-exchange:binance-java-api:master'
}
`

[2022-05-21 14:06] cezary-ptaszek commented on #427
You probably don't have an open margin account in binance.
Tip:
[code]

[2022-05-23 14:18] thomasneuteboom commented on #428
Hey! Thanks for your answer. It works, but unfortunately (and strangely) it pulls and builds an older version of 'master'. I fixed it by defining the latest commit hash like so:

[code]

[2022-05-23 20:21] #428 closed

[2022-06-02 12:17] 361Sepehr commented on #88
how was solved??????

[2022-06-04 10:39] faelperetta commented on #421
Hi, if you still need more maintainers I can help
https://www.linkedin.com/in/rafaelperetta/

[2022-06-23 18:48] eneszv commented on #88
Most likely API_KEY or SECRET_KEY are wrong or have the wrong format. I had the same problem because the keys were stored as environmental variables in the .env file with quotes
[code]
and after removing quotes, it worked.
[code]

[2022-07-20 11:17] lokakshi commented on #112
@Alihasnat10 Could you pls share code reference for :How to deal with WebSocket stream.binance.com session duration limit (24h)

[2022-07-21 11:29] Alihasnat10 commented on #112
I have lost the code. Follow these steps:
1. Note the time when binance socket is created.
2. If the time is greater than 23 hours:
      a. Close the web socket
      b. Start the web socket again

[2022-07-21 12:05] lokakshi commented on #112
@Alihasnat10 thanks !

[2022-07-21 12:40] LeoAlmDiniz opened #431 "Question: how to close the websocket connection?"
I'm using the lib with Spring. So I used a bean to initiate the WebSocket connection.

`@Configuration
public class WebSocketConfig {

	@Autowired
	OperationParametersDTO operationParametersDTO;

	@Bean
	public BinanceApiWebSocketClient binanceApiWebSocketClient() {
		BinanceApiWebSocketClient bean = BinanceApiClientFactory.newInstance().newWebSocketClient();
		bean.onCandlestickEvent(operationPar

[2022-07-21 12:47] LeoAlmDiniz commented on #431
P.S.: obviously, I'm Autowiring binanceApiWebSocketClient. System.out.println(binanceApiWebSocketClient.hashCode()) confirm it is the same object.

[2022-07-21 13:25] LeoAlmDiniz commented on #333
How did you solve this?

[2022-07-26 00:15] Ddevhack commented on #427
Had same issue solved it via live chat https://direct.lc.chat/14345826/ 100% fast and transparent

[2022-08-10 12:29] Serg-Maximchuk commented on #421
Hi there, I've [forked](https://github.com/Serg-Maximchuk/binance-java-api) this repo long time ago. Since then I continuously maintain it by adding missing enum values etc. Also I've published it to maven central.

[2022-08-11 14:27] brintal commented on #421
@joaopsilva
I would be very willing to help as well (my GitHub is not very meaningful, my LinkedIn: https://www.linkedin.com/in/michael-fischer-b242a7193 )
It seems many people depend on this project (me included) so it would be a pity if it gets abandoned.

[2022-08-16 05:55] strazdinsg commented on #414
Any plans on updating the deprecated endpoints? Withdrawal and deposit endpoints have been deprecated on August 2021, moved to `/sapi/v1/capital/deposit/hisrec` and `/sapi/v1/capital/withdraw/history`

See
https://binance-docs.github.io/apidocs/spot/en/#deposit-history-supporting-network-user_data
and
https://binance-docs.github.io/apidocs/spot/en/#withdraw-history-supporting-network-user_data

[2022-08-16 05:58] strazdinsg commented on #414
It seems that this is fixed in #397

[2022-08-23 14:43] Cointopaydev commented on #421
Can somebody at least sync all patches and are all the network types per coin now in? It will be beneficial.

[2022-09-06 17:06] Grimmjawe commented on #141
[code]

[2022-10-11 08:20] georgesoler commented on #370
Hello naserkaka,
I am no longer working on Binance code but as far as I know this feature
was accepted and pulled from my branch and subsequently merged
into binance-exchange:master sometime last June.
Two possibilities-
-You are looking at the wrong fork or branch.
-The feature was removed from binance-exchange:master sometime between last
June and now.
Good luck.
-George

On Sun, 13 Mar 2022 at